In [4]:
import pm4py
import pandas as pd

In [5]:
def convert_csv_to_ocel(scene:str): 
    # read csv
    dataframe = pd.read_csv(f'../scene{scene}/scene{scene}_mov.csv')
    # convert csv to dataframe
    dataframe = pm4py.format_dataframe(dataframe,case_id ='resource',activity_key='activity',timestamp_key='timestamp')
    # change timestamp to +1 timezone
    dataframe['time:timestamp'] = dataframe['time:timestamp'].dt.tz_convert('Europe/Berlin')
    # delete redundant columns
    dataframe = dataframe.drop(columns=['timestamp','resource','activity'])
    # sort df by timestamp
    dataframe = dataframe.sort_values(by='time:timestamp')
    # change order (optional)
    new_order = ['time:timestamp','case:concept:name','concept:name','region','walking_speed','step','handling_height']
    dataframe = dataframe[new_order]
    # convert df to ocel
    ocel = pm4py.convert.convert_log_to_ocel(dataframe,activity_column='concept:name',timestamp_column='time:timestamp',object_types=['case:concept:name', 'region'])
    # write ocel
    pm4py.write_ocel_json(ocel,f'../dataProcessing/sceneMovOCEL/scene{scene}_mov')

In [21]:
convert_csv_to_ocel('15')

In [7]:
dataframe = pd.read_csv('../scene01/scene01_mov.csv')
dataframe

,timestamp,resource,activity,region,walking_speed,step,handling_height
0,2024-03-25 08:48:24+01:00,A1,Walk,Issue Area,0.838542,False,6.0
1,2024-03-25 08:48:24+01:00,C1,Stand,Self-Service Lending Area,0.000000,False,6.0
2,2024-03-25 08:48:24+01:00,C2,Handling,Warehouse Area,0.000000,False,8.0
3,2024-03-25 08:48:24+01:00,C6,Stand,Warehouse Area,0.000000,False,6.0
4,2024-03-25 08:48:25+01:00,A1,Walk,Issue Area,0.838542,False,6.0
...,...,...,...,...,...,...,...
1563,2024-03-25 08:54:54+01:00,C6,Stand,Issue Area,0.000000,False,6.0
1564,2024-03-25 08:54:55+01:00,A1,Stand,Issue Area,0.000000,False,6.0
1565,2024-03-25 08:54:55+01:00,C1,Handling,Waiting Area,0.000000,False,8.0
1566,2024-03-25 08:54:55+01:00,C2,Walk,Waiting Area,0.000000,False,6.0
1567,2024-03-25 08:54:55+01:00,C6,Handling,Issue Area,0.000000,False,8.0

In [8]:
dataframe = pm4py.format_dataframe(dataframe,case_id ='resource',activity_key='activity',timestamp_key='timestamp')
dataframe = dataframe.drop(columns=['timestamp','resource','activity'])

dataframe

,region,walking_speed,step,handling_height,case:concept:name,concept:name,time:timestamp,@@index,@@case_index
0,Issue Area,0.838542,False,6.0,A1,Walk,2024-03-25 07:48:24+00:00,0,0
1,Issue Area,0.838542,False,6.0,A1,Walk,2024-03-25 07:48:25+00:00,1,0
2,Working Area,0.838542,False,6.0,A1,Walk,2024-03-25 07:48:26+00:00,2,0
3,Working Area,0.838542,False,6.0,A1,Walk,2024-03-25 07:48:27+00:00,3,0
4,Working Area,0.838542,False,6.0,A1,Walk,2024-03-25 07:48:28+00:00,4,0
...,...,...,...,...,...,...,...,...,...
1563,Issue Area,0.000000,False,8.0,C6,Handling,2024-03-25 07:54:51+00:00,1563,3
1564,Issue Area,0.000000,False,6.0,C6,Stand,2024-03-25 07:54:52+00:00,1564,3
1565,Issue Area,0.000000,False,6.0,C6,Stand,2024-03-25 07:54:53+00:00,1565,3
1566,Issue Area,0.000000,False,6.0,C6,Stand,2024-03-25 07:54:54+00:00,1566,3
1567,Issue Area,0.000000,False,8.0,C6,Handling,2024-03-25 07:54:55+00:00,1567,3

In [11]:
ocel = pm4py.convert.convert_log_to_ocel(dataframe,activity_column='concept:name',timestamp_column='time:timestamp',object_types=['case:concept:name'])
ocel.get_extended_table()

,ocel:eid,ocel:activity,ocel:timestamp,ocel:type:case:concept:name
0,0,Walk,2024-03-25 07:48:24+00:00,[A1]
1,1,Walk,2024-03-25 07:48:25+00:00,[A1]
2,2,Walk,2024-03-25 07:48:26+00:00,[A1]
3,3,Walk,2024-03-25 07:48:27+00:00,[A1]
4,4,Walk,2024-03-25 07:48:28+00:00,[A1]
...,...,...,...,...
1563,1563,Handling,2024-03-25 07:54:51+00:00,[C6]
1564,1564,Stand,2024-03-25 07:54:52+00:00,[C6]
1565,1565,Stand,2024-03-25 07:54:53+00:00,[C6]
1566,1566,Stand,2024-03-25 07:54:54+00:00,[C6]
1567,1567,Handling,2024-03-25 07:54:55+00:00,[C6]